
@{
    ViewBag.Title = "Stock";
}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <h3 class="mb-1 text-center">รายการล้อ WIP ตาม Location</h3>
            <h6 class="text-center" style="color:red"><i>รายการล้อทั้งหมด (จำนวน,Location,วันที่ผลิต)</i></h6>
            <div class="col-xl-12 col-lg-6">
                <div class="data-table-list">

                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>บาร์โค้ด</th>
                                    <th width="25%">ล้อขนาด</th>
                                    <th>Location</th>
                                    <th>Lot วันที่ผลิต</th>
                                    <th>จำนวน</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size:12px">
                                    <th>1</th>
                                    <th style="color:darkblue">คลิ๊ก..ดูรายการ</th>
                                    <th width="35%">ล้อเหล็ก xxx-02</th>
                                    <th style="color:darkblue">บริเวณวางล้อในอาคารเตาหลอม</th>
                                    <th>09-03-2021</th>
                                    <th>5</th>
                                </tr>
                                <tr style="font-size:12px">
                                    <th>2</th>
                                    <th style="color:darkblue">คลิ๊ก..ดูรายการ</th>
                                    <th width="35%">ล้อเหล็ก xxx-02</th>
                                    <th style="color:darkblue">บริเวณวางล้อในอาคารรีด-ตีเกลียวทองแดง</th>
                                    <th>09-03-2021</th>
                                    <th>6</th>
                                </tr>                                

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>บาร์โค้ด</th>
                                    <th width="35%">ล้อขนาด</th>
                                    <th>Location</th>
                                    <th>Lot วันที่ผลิต</th>
                                    <th>จำนวน</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
