@Scripts.Render("~/Home_Index/js")
  
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider hero-overly  slider-height d-flex align-items-center" style="background-image:url(/AR1/Content/assets/img/hero/LOGO_PD.jpg)">
                    <!--<img class="" src="~/Content/assets/img/hero/LOGO_PD.jpg" style="width:100%" /> -->
                    <div class="container">
                        <!-- Search Box --> 
                        <div class="row mt-5 Mobile">
                            <div class="col-xs-12 col-md-12" style="text-align:center">
                                <button id="Regis" class="genric-btn primary radius buttonHome">ลงทะเบียนล้อใหม่</button>
                            </div>

                            <div class="col-xs-12 col-md-12 mt-2" style="text-align:center">
                                <button id="Stock" class="genric-btn primary radius buttonHome">สต็อก</button>
                            </div>
                            <div class="col-xs-12 col-md-12 mt-2" style="text-align:center">
                                <button id="Move" class="genric-btn primary radius buttonHome">ย้ายล้อ</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <!-- form -->
                                <form action="#" class="search-box" hidden>
                                    <div class="input-form mb-30">
                                        <input type="text" placeholder="กรอกเลขเอกสารของคุณ...">
                                    </div>
                                    <div class="select-form mb-30" hidden>
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">When</option>
                                                <option value="">Services-1</option>
                                                <option value="">Services-2</option>
                                                <option value="">Services-3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-form mb-30">
                                        <a href="#">Search</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
